<div id="overlay-deploy" class="overlay overlay-deploy">
    <div class="overlay-content" style="max-width:500px">
        <div class="overlay-header"><h2 id="deploy-title">Deploy</h2><button class="close-btn" onclick="document.getElementById('overlay-deploy').style.display='none'">✖</button></div>
        <div id="deploy-content"></div>
        <button id="deploy-btn" class="btn-action-lg" style="width:100%;margin-top:20px;justify-content:center;">Deploy</button>
    </div>
</div>
