<div id="general" class="section">
    <h2>General</h2>
    <div class="form-group"><label class="label">Prefix (Max 3 chars)</label><input type="text" id="prefix" value="<%= settings.prefix||'!' %>" maxlength="3"></div>
</div>
